@import '@/assets/style/scss/_1px.scss';
.wym-dialog-wrap {
  .wym-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .wym-dialog-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    min-height: 100px;
    background-color: #fff;
    z-index: 9999;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    .wym-dialog__header {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .wym-dialog__content {
      padding-bottom: 20px;
      font-size: 14px;
    }
    .wym-dialog__footer {
      padding-top: 20px;
      display: flex;
      color: #ee0a24;
      span {
        flex: 1;
        text-align: center;
        &:first-child {
          color: #999;
        }
      }
    }
  }
}