/*清除浮动*/
.clearfix:before,
.clearfix:after{
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{
  *zoom: 1;
}
 
/*隐藏*/
.dn{
  display: none;
}

.ellipsis {
   overflow: hidden; /*超出隐藏*/
   text-overflow: ellipsis;/*隐藏后添加省略号*/
   white-space: nowrap;/*强制不换行*/
}
.ellipsis2 {
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}
