.song-sheet-wrap {
  position: relative;
  width: 100px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  .song-sheet__image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    .song-sheet__count {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      align-items: center;
      font-size: 10px;
      -webkit-text-size-adjust: 100%;
      color: #fff;
      padding: 2px 5px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      .iconfont {
        margin-right: 2px;
      }
    }
  }
  .song-sheet__info {
    width: 100px;
    white-space: normal;
    font-size: 14px;
    text-align: left;
    .song-sheet__subtitle {
      display: inline-block;
      margin-right: 5px;
      padding: 2px 5px;
      font-size: 10px;
      background-color: #ffefee;
      color: #ff8c00;
      vertical-align: top;
      zoom: .8;
    }
  }
}